@use '../../scss/' as *;
.forgot__title__main{
    text-align: center;
    color: $text-color;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 2rem;
    margin: 0 0 8px;
}

.forgot__title__sub{
    font-size: $font-size-normal;
    font-weight: 400;
    text-align: center;
    margin: 0 0 16px;
    color: $text-muted;
}
.forgot_container {
    margin-bottom: 35px;
}
.forgot__commention {
    background-color: #DFF6FF;
    padding: 10px 16px;
    border-radius: 6px;
    margin-bottom: 20px;
    p {
        text-align: center;
        font-size: 1.3rem;
        color: #1746A2;
    }
}
.button_authen__wrapper {
    margin-bottom: 30px;
}
.login__link__text {
    text-decoration-line: underline;
}