@use '../../scss/' as *;
.layout-main {
    display: flex;
    height: 100vh;
    width: 100%;
    &__navigation{
        flex: 0.5;
    }
    &__children{
        flex: 2.5;
    }
    &__chatbox{
        flex: 9;
        background: url("https://doot-light.react.themesbrand.com/static/media/pattern-05.ffd181cd.png") fixed center #F3F3F3;
    }
}

