@use '../../scss/' as *;

.conversation-list{
  display: flex;
  flex-direction: row;
  margin-bottom: 14px;
  align-items: flex-end;
}
.conversation-list:hover .messOption {
  display: block;
}
.chat_avatar{
  margin-right: 10px;
  margin-bottom: 0;
}
.avt_chat{
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
}
.messenger{
  margin-bottom: 10px;
}
.messengerUpload {
  padding: 10px 10px;
  border-radius: 5px;
  background-color: $white;
  &_file {
    display: flex;
    margin: 12px 20px;
    padding: 12px 20px;
    border: 1px solid #000;
    border-radius: 6px;
    justify-content: space-between;

    .chatBox_modal_more_icon_fa__second{
      background-color: #6da5ee;
      color: #000;
    }
    .iconIsPdf{
      background-color: #666081;
    }
    .iconIsPowP {
      background-color: #fa9e6c;
    }
    .iconIsExel {
      background-color: #29a351;
    }

    &__contentFile{
      margin-left: 10px;
      width: 380px;
      align-items: center;
      display: flex;
      text-align: left;
      &__name{
        font-weight: bold;
        color: $text-muted;
        word-wrap: break-word;
      }
      &__capacity{
        color: $text-muted;
      }
    }
  }
}


  .messengerUpload {
    background-color: #a8caf5;
  }
  .isFilePdf {
    background-color: #dcd7f1;
  }
  .isFilePowP {
    background-color: #f7ba99;
  }
  .isFileExel {
    background-color: #ace5be;
  }


.content_messenger{
  max-width: 600px;
  height: auto;
  padding: 12px 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(15, 34, 58, 0.12);

  p{
    font-size: 15px;
    color: #000;
    word-wrap: break-word;
    text-align: left;
  }

  &_image {
    width: 300px;
    height: 250px;
    border-radius: 5px;
    object-fit: cover;
  }
}

.chat-list{
  display: flex;
}

.list_Chat{
  margin-top: 10px;
}

.chat-list.right{
  justify-content: flex-end;
  text-align: right;

  .content_messenger{
    background-color: #CCE2D3;

  }
  .messenger{
    justify-content: flex-end;
  }
  .chat_avatar{
    margin: 0 0 0 10px;
  }
  small{
    margin: 0 10px 0 0;
  }
  
}

.messenger{
  display: flex;
}
.messOption{
  padding: 12px 10px;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  display: none;
  cursor: pointer;
  
}

.icon_messOption{
  color: rgb(162, 162, 162);
  padding: 0 15px;
}

.conversation-name{
  font-size: 14px;
  font-weight: bold;
  color: #4B5259;

  small{
    margin-left: 10px;
    color: #7C7F8F;
  }
}