$black: #2d2d2d;
$white: #fff;
$primary-color: #4EAC6D;
$text-color: #495057;
$font-family: "cerabrisans",sans-serif;
$tablet-width: 1024px;

$font-family: 'Oswald', sans-serif;

$width-tablet: 768px;
$width-mobile: 300px;