@use '../../scss/' as *;


.profile__header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
    border-bottom: solid 1px rgb(211, 255, 240);

    .header__img_contain {
        width: 100%;
        height: 150px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .header__info_and_avt_contain {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 105px;
        p {
            // font-weight: bold;
            text-align: center;
        }
        .update_info {
            font-size: 11px;
            cursor: pointer;
            display: flex;
            align-items: center;
            .icon {
                font-size: 11px;
                // padding: 4px;
                color: #4b5259;
            }
            :hover {
                color: #4EAC6D;
            }
        }
    }
    .header__avt_contain {
            width: 80px;
            height: 80px;
        img {
            width: 100%;
            height: 100%;
            border: 4px solid white;
            object-fit: cover;
            border-radius: 50px;
        }
    }
}
.profile__body {
    height: 70vh;
    padding: 0 10px;
    color: $text-muted;
    overflow: auto;
    .body__info_contain {
        border-bottom: solid 1px rgb(211, 255, 240);
        font-size: 14px;
        .info__bio {
            margin: 20px 0;
        }
        .info__gender, .info__birthday, .info__username,.info__name {
            display: flex;
            align-items: center;
            margin: 8px 0;
            .icon {
                width: 16px;
            }
            p {
                margin-left: 16px;
            }
        }
    }
    .body__media_contain, .body__files_contain {
        border-bottom: solid 1px rgb(211, 255, 240);
        p {
            font-size: 12px;
        }
    }
    .media_contain {
        display: flex;
        flex-wrap: wrap;
        .media__img_contain {
            width: 60px;
            width: 60px;
            margin-bottom: 5px;
            padding: 5px;
            img {
                width: 100%;
                height: 100%;
                border-radius: 5px;
                object-fit: cover;
            }
            
        }
    }


    .body__files_contain {
        .files__contain {
            margin-bottom: 5px;
            display: flex;
            flex-direction: column;
            :hover {
                background-color: #ebffeb;
            }
            .files__file_cotain {
                width: 100%;
                .file_infor{
                    width: 70%;
                    max-width: 250px;
                    .file_name {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
                .file_action {
                    .icon {
                        cursor: pointer;
                        color: #4b5259;
                        font-size: 15px;
                        margin-right: 10px;
                    }
                }
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 50px;
                border: 1px solid gainsboro;
                border-radius: 5px;
                padding: 0 30px;
                .file_name {
                    font-size: 14px;
                    font-weight: bold;
                }
            }
        }
    }
}