@use '../../scss/' as *;
.logout__title__main{
    text-align: center;
    color: $text-color;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 1.9rem;
    margin: 0 0 8px;
}
b {
    // color: black;
    color: $text-color;
}
.icon {
    font-size: 30px;
    color: $primary-color;
}
.logout__user__icon {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-bottom: 30px;
    width: 96px;
    height: 96px;
    background-color: rgb(222 241 228);
}
.logout__title{
    margin-bottom: 30px;
}
.logout__container {
    margin-top: 150px;
}
