@use '../../scss/' as *;
.list__invite{
    @include flex(center,space-between);
    margin-right: 25px;
    &__icon{
        & svg{
            margin-left: 15px;
            cursor: pointer;
            color: #797C8C;
            transition: color 0.2s ease-in-out;
        }
        &__agree:hover{
            color: $primary-color;
        }
        &__denied:hover{
            color: #FF2E2E;
        }
    }
}