@use '../../scss/' as *;
.change-password{
    &__avatar{
        margin-top: 3rem;
        height: 100%;
        width: 70px;
        object-fit: contain;
        border-radius: 50%;
    }
    &__button-container{
        @include flex(center, center);
    }
    &__button-wrap{
        margin: 0 1.5rem;
    }
}
